body{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  background-image: url("./src/assets/images/backg/backg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#root{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}