$background-color-1: rgba(200, 61, 255, 0.2);
$background-color-2: rgba(218, 124, 255, 0.4);
$background-color-3: rgba(227, 161, 255, 0.6);

$border-color-1: rgba(200, 61, 255, 0.6);

$content-text-color: white;
$content-text-color-dark: rgb(131, 255, 193);
$content-text-color-black: rgb(0, 0, 0);

$content-text-shadow: rgba(200, 61, 255, 1);
$content-text-shadow-dark: rgba(22, 0, 31, 0.8);
$content-text-shadow-light: rgba(245, 218, 255, 0.8);