$background-color-1: hsla(310, 45%, 60%, 0.8);
$background-color-2: hsla(300, 80%, 75%, 0.8);
$background-color-3: hsla(300, 90%, 81%, 0.8);

$input-focus-color: rgb(209, 101, 255);
$border-color-focus: rgba(200, 61, 255, 0.8);

$button-select-color: rgb(93, 226, 159);
$button-deselect-color: rgb(255, 71, 71);

$border-color-1: rgba(200, 61, 255, 0.6);

$content-text-color: white;
$content-text-color-dark: rgb(131, 255, 193);
$content-text-color-black: rgb(0, 0, 0);

$content-text-shadow: rgba(200, 61, 255, 1);
$content-text-shadow-dark: rgba(22, 0, 31, 1);
$content-text-shadow-light: rgba(245, 218, 255, 1);